
* {
  box-sizing: border-box;
}

/*Style the body*/
body {
  padding-left: 20%;
  color: #336600;
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-size: 100%;
  background-color: #ccff80;
}

.main {
  letter-spacing: 0.1em;
  font-style: italic;
  font-size: 6em;
  font-weight: bolder;
  text-align: center;
  line-height: 0.5;
}

h3 {
  text-align: center;
  color: #336600;
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-size: 250%;
}

/*Style index fade in words*/
/*------------------------------------------------*/
@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

.fadeInAnimated {
  opacity: 0;
  animation: fadeIn 1.2s forwards; /* forwards (animation-fill-mode) retains the style from the last keyframe when the animation ends */
}

#second {
  animation-delay: 1.2s;
}

#third {
  animation-delay: 2.4s;
}

#fourth {
  animation-delay: 3.6s;
}
/*------------------------------------------------*/

/* Style the side navigation */
.sidenav {
  position: -webkit-sticky;
  position: sticky;
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-image: url(Images/Nav_Image.jpg);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: mediumseagreen;
}

/* Side navigation links */
.sidenav a {
  color: #336600;
  padding: 16px;
  text-decoration: none;
  font-family: 'Vollkorn', Helvetica, sans-serif;
  font-size: 2.6em;
  font-weight: bold;
  text-align: center;
  line-height: 6;
  display: block;
}

/* Change link color on hover */
.sidenav a:hover {
  color: #ffffe6;
}

/* Style svg icon links to photo albums */
/*--------------------------------------*/
#svg_container1, #svg_container2, #svg_container3, #svg_container4 {
  width: 20%;
  height: 0;
  padding-top: 20%;
  margin-right: 2%;
  margin-left: 2%;
  position: relative;
  float: right;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

/* Hover link color change */
#svg_container1 a:hover, #svg_container2 a:hover, #svg_container3 a:hover, #svg_container4 a:hover {
  fill: #ffffe6;
}

/* Hover link text */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 10em;
  background-color: black;
  color: #ffffe6;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /*Position tooltip*/
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 45%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/*----------------------------------------*/

/* Style the contact form */
/*----------------------------------------*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  padding: 20px;
}

/*----------------------------------------*/

/* Style the footer */
footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 20%;
  text-align: center;
}